.glyphicon-info-sign {
    color: white;
    background-color: #bf0a30;
    border-color: #bf0a30;
}

.glyphicon-info-sign:hover {
    color: white;
    background-color: #bf0a30;
    border-color: #bf0a30;
}
