.glyphicon-info-sign {
    color: #212529;
    background-color: #ffcc01;
    border-color: #ffcc01;
}

.glyphicon-info-sign:hover {
    color: #212529;
    background-color: #ffcc01;
    border-color: #ffcc01;
}
